In [11]:
from glob import glob
import pandas as pd
pd.options.display.float_format = "{:,.2f}".format

In [13]:
df = pd.concat([pd.read_json(path, lines=True) for path in glob('results/9095-*-metrics.json')])
df.shape

(4, 33)

In [14]:
#df.pivot(index='prefix', columns='data')

In [15]:
cols = 'data prefix mrr hit10'.split()
df[cols].set_index('data').sort_values('data mrr'.split(), ascending=False).groupby('data')[cols[1:]].first()

             prefix  mrr  hit10
data
lastfm     9095-tgn 0.46   0.72
mooc       9095-tgn 0.71   0.95
reddit     9095-tgn 0.72   0.89
wikipedia  9095-tgn 0.44   0.64

In [16]:
df[cols].sort_values('data prefix'.split(), ascending=True)

        data    prefix  mrr  hit10
0     lastfm  9095-tgn 0.46   0.72
0       mooc  9095-tgn 0.71   0.95
0     reddit  9095-tgn 0.72   0.89
0  wikipedia  9095-tgn 0.44   0.64

In [17]:
df[df.prefix == 'tgn-attn-edge0'][cols].sort_values('data'.split(), ascending=True)

Empty DataFrame
Columns: [data, prefix, mrr, hit10]
Index: []

In [18]:
z = df[cols].pivot(columns='data', index='prefix', values='mrr hit10'.split()).reorder_levels([1, 0], 1).sort_index(axis=1)
z

data     lastfm       mooc      reddit      wikipedia
          hit10  mrr hit10  mrr  hit10  mrr     hit10  mrr
prefix
9095-tgn   0.72 0.46  0.95 0.71   0.89 0.72      0.64 0.44

In [19]:
(100*z).style.format(precision=1).highlight_max(color='lightgreen', axis=0)