In [1]:
from glob import glob
import pandas as pd
pd.options.display.float_format = "{:,.2f}".format

In [2]:
df = pd.concat([pd.read_json(path, lines=True) for path in glob('results/*-metrics.json')])

In [3]:
#df.pivot(index='prefix', columns='data')

In [4]:
cols = 'data prefix mrr hit10'.split()
df[cols].set_index('data').sort_values('data mrr'.split(), ascending=False).groupby('data')[cols[1:]].first()

                   prefix  mrr  hit10
data
lastfm           tgn-attn 0.34   0.62
mooc       tgn-attn-randf 0.72   0.94
reddit     tgn-attn-randf 0.75   0.91
wikipedia        tgn-attn 0.38   0.56

In [5]:
df[cols].sort_values('data prefix'.split(), ascending=True)

        data          prefix  mrr  hit10
0     lastfm       jodie_rnn 0.24   0.50
0     lastfm        tgn-attn 0.34   0.62
0     lastfm  tgn-attn-randf 0.34   0.63
0       mooc       jodie_rnn 0.52   0.89
0       mooc        tgn-attn 0.63   0.94
0       mooc  tgn-attn-randf 0.72   0.94
0     reddit       jodie_rnn 0.37   0.81
0     reddit        tgn-attn 0.73   0.91
0     reddit  tgn-attn-randf 0.75   0.91
0  wikipedia       jodie_rnn 0.14   0.29
0  wikipedia        tgn-attn 0.38   0.56
0  wikipedia  tgn-attn-randf 0.33   0.53

In [6]:
df[df.prefix == 'tgn-attn-edge0'][cols].sort_values('data'.split(), ascending=True)

Empty DataFrame
Columns: [data, prefix, mrr, hit10]
Index: []

In [9]:
z = df[cols].pivot(columns='data', index='prefix', values='mrr hit10'.split()).reorder_levels([1, 0], 1).sort_index(axis=1)
z

data           lastfm       mooc      reddit      wikipedia
                hit10  mrr hit10  mrr  hit10  mrr     hit10  mrr
prefix
jodie_rnn        0.50 0.24  0.89 0.52   0.81 0.37      0.29 0.14
tgn-attn         0.62 0.34  0.94 0.63   0.91 0.73      0.56 0.38
tgn-attn-randf   0.63 0.34  0.94 0.72   0.91 0.75      0.53 0.33

In [10]:
(100*z).style.format(precision=1).highlight_max(color='lightgreen', axis=0)